/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    text-align: right;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  section {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  li a:hover {
    color: #999;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select,
  input[type="date"],
  input[type="submit"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #999;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Regras de mídia para telas menores */
  
  @media screen and (max-width: 767px) {
    header {
      flex-direction: column;
    }
  
    nav {
      margin-top: 10px;
      text-align: center;
    }
  
    nav ul {
      display: block;
      margin-bottom: 10px;
    }
  
    nav li {
      display: block;
      margin: 0;
    }
  
    main {
      margin: 10px 0;
    }
  
    section {
      margin-bottom: 30px;
    }
  }
  